.header-text{
    color: rgb(217, 231, 17) !important;
    font-size: 42px;
    font-weight: bold;
}
body {
    background-color: deeppink;
}
.list-container{
    background-color: rgb(24, 23, 22);
    border-radius: 10px;
    border-color:  rgb(245, 7, 7);
    width: 100%;
    height: 300px;
    padding-left: 300px;
}

.ordered-list{
    float: right;
    color: red;
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
    }

.unordered_list{
    float: left;
    color: blue;
}